.JokeList{
    overflow-y: auto;
    align-self: center;
    height: 700px;
    background-color: #fff;
    width: 1000px;
    box-shadow: 3px 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}
.JokeList ul{
    margin: 0;
    padding: .8rem;
}